<div class="container">
  <h2 *ngIf="hotels && hotels.length >0">{{title}}</h2>
  <button class="btn btn-primary d-flex" (click)="toggleIsNewBadge()">
   <span class="material-icons">
			{{showBadge ? 'visibility_off' : 'visibility'}}
		</span>
    <span class="ml-2">
			{{showBadge ? 'cacher' : 'afficher'}} nouveau
		</span>
  </button>
  <hr>
  <div class="my-2">
    <div class="row">
      <div class="col-md-3">
        <span>Filtre actuel:
          <b>{{hotelFilter}}</b>
        </span>
      </div>
      <div class="col-md-5 form-group">
        <input [(ngModel)]="hotelFilter" class="form-control" type="text" placeholder="tapez le nom ici">
      </div>



<!--Ajout-->
      <div class="col-md-4 form-group">
        <!--<select   name="hotels" class="bx&#45;&#45;text-input"  [formControl]="hotels">
          <option value=""  selected>Select profile name</option>
          <option [value]="hotels"  *ngFor="let state of profiles">{{state.name}}</option>
        </select>-->
        <!-- filter byCategory -->
        <mat-form-field class="col-md-12">
          <mat-label><i class="mdi mdi-filter-outline"></i> Catégorie</mat-label>
          <mat-select  class="form-control" (selectionChange)="filterByCategory()" [(ngModel)]="categoryFilter" >
            <mat-option value="A">A</mat-option>
            <mat-option value="B">B</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
<!--Ajout-->



    </div>
  </div>




  <div class="alert alert-primary" *ngIf ="!!receivedRating">
    {{receivedRating}}
  </div>
  <div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4" *ngFor="let hotel of filteredHotels">
      <div class="card">
        <img [src]="hotel.imageUrl" [title]="hotel.hotelName" class="card-img-top" [alt]="hotel.hotelName">
        <div class="card-body">
          <h5 class="card-title">{{hotel.hotelName | uppercase }}</h5>
          <p class="card-text">{{hotel.description}}</p>
          <p class="card-text">{{hotel.price | currency : 'EUR' : 'symbol' : '1.2-2' : 'fr' |replaceComma}}</p>
          <p class="card-text">Catégorie : {{hotel.category | uppercase }}</p>

          <div class="d-flex justify-content-between align-items-baseline">

            <app-star-rating [rating]="hotel.rating" (starRatingClicked) = 'receiveRatingClick($event)'></app-star-rating>
            <span class="material-icons bg-primary text-white p-2 rounded-circle zaza" [routerLink]="['/hotels', hotel.id, 'edit']">
              edit
            </span>
            <span class="material-icons bg-info text-white p-2 rounded-circle zaza" [routerLink]="['/hotels', hotel.id]">
              keyboard_arrow_right
            </span>
          </div>
          <span class="badge bg-success" *ngIf="showBadge">Nouveau</span>
        </div>
      </div>
    </div>
  </div>
</div>

